# Misc
.DS_Store
audit.json

# CMake
cmake-build-*/
build/

# Tools
tools/

# IDEs and Editors
.idea/
.vscode/
.lvimrc

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Virtual envs
venv/
.venv/

# Executables
*.exe
*.out
*.app
gw2combat
